body {
    /* 宽度占浏览器可视区域的高度 */
    background-color: #f2f2f2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
}


.navbar .nav{
    width: 1200px;
    height: 100%;
    /* 让元素自动水平居中 */
    margin: 0 auto;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px 100px; */
    background: #5b639c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.navbar .logo {
    font-size:30px;
    color: #fff;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 5px 5px 5px black; 
    margin-left: 30px;
}

.navbar .nav ul li a img {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
    right: -100px;
    border-radius: 50%;
  
}

.navbar .nav ul {
    /* 相对定位 */
    position: relative;
    /* 弹性布局 */
    display: flex;
    /* 让子元素平均分配宽度 */
    justify-content: space-around;
    width: 100%;
    height: 100%;
}


.navbar .nav ul li {
    width: 100%;
    height: 100%;
}

.navbar .nav ul li > a {
	/* 因为a元素是行内元素 必须将其转为行内块或者块级才能设置宽度和高度 */
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    /* letter-spacing: 1px; */
}

.navbar .nav ul li a:hover {
    transform: scale(1.2);
    transition: all 0.6s;
}

.navbar .nav ul li ol {
    width: 100%;
    background-color: #5b639c;
	/* 让盒子先沿着y轴缩放到0 也就是隐藏了 */
    transform: scaleY(0);
	/* 我们需要将盒子从上面滑动下来 设置一下缩放的中心点即可 设置到最上面的中间位置 */
    transform-origin: 50% 0;
    /* 设置过渡 */
    transition: all 0.5s;
    position: relative;
    right: -20px;
}

.navbar .nav ul li ol:hover li {
    position: relative;
    top: 20px;
}

.navbar .nav ul li ol li {
    height: 70px;
    border-bottom: 1px solid rgb(245, 245, 245);
    background-color: #5b639c;
}

.navbar .nav ul li ol li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
    text-align: center;
}

.navbar .nav ul li a img:hover {
    position: relative;
    top: 15px;
}

.navbar .nav ul li ol li:hover {
    background-color: #1f244d;
}

.navbar .nav ul li:hover ol {
    transform: scaleY(1);
    z-index: 100;
}

.navbar .nav ul .underline {
    /* 绝对定位 */
    position: absolute;
    bottom: 0;
    left: 480px;
    width: 240px;
    height: 6px;
    /* 设置一下盒子的左上角和右上角的圆角 */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #339933;
    /* 加上过渡 */
    transition: all 0.5s;
    pointer-events: none;
}

.navbar .nav ul .underline::before {
    content: "";
	/* 利用::before伪元素设置三角 */
    position: absolute;
    top: -10px;
    left:111px;
    width: 18px;
    height: 10px;
	/* inherit可以继承父元素的属性值 */
    background-color: inherit;
    /* 坐标绘制三角形 */
    clip-path: polygon(0 100%,50% 0,100% 100%);
}

.navbar .nav ul  li:nth-child(2):hover ~ .underline {
    left: 240px;
    background-color: #ff9933;
}

.navbar .nav ul  li:nth-child(1):hover ~ .underline{
    left: 1px;
    background-color: red;
}

.navbar .nav ul  li:nth-child(4):hover ~ .underline{
    left: 720px;
    background-color: #0099cc;
}

.list {
    position: relative;
    top: 70px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #666;
    margin: 0 auto;
    background: #FFF;
}

.list .header {
    height: 80px;
    border-bottom: 1px  solid #666;
    text-align: center;
    line-height: 80px;
    background-color: blue;
    border-radius: 10px;
    color: #FFF;
}

.list .header a {
    text-decoration: none;
    color: #222;
    font-size: 30px;
    float: left;    
}

.list .body .user{
    height: 280px;
    border-bottom: 1px solid #666;  
}

.list .body .user:hover {
    background-color: rgb(234, 239, 243);
    border: 1px solid rgb(66, 181, 239);
    box-sizing: border-box;
}

.list .body .user .u_left {
    height: 100%;
    width: 186px;
    float: left;
}

.list .body .user .u_left .d1 {
    width: 80px;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 280px;

}

.list .body .user .u_left .d1 img {
    width: 400px;
    height: 220px;
    border-radius: 10px;
    position: relative;
    /* bottom: 35px; */
    border: #222 solid 1px;
    left: 10px;
}

.list .body .user .u_left .d1 img:hover {
    transform: scale(1.05);
    transition: all 1s;
}

.list .body .user .u_left .d2 {
    width: 106px;
    height: 100%;
    float: left;
}

.list .body .user .u_left .d2 .title {
    width: 600px;
    height: 100px;
    margin-top: 20px;
    position: relative;
    left: 500px;
    color: rgb(85, 85, 85);
    font-size: 30px;
    font-weight: bold;
}

.list .body .user .u_left .d2 .info {
    font-size: 12px;
    color: #666;
    width: 600px;
    position: relative;
    left: 500px;
}

.list .body .user .u_left .d2 .info img {
    width: 20px;
    height: 20px;
    position: relative;
    /* left: 500px; */
    bottom: 40px;
}

.clock, .eye, .chat {
    position: relative;
    bottom: 36px;
    font-size: 20px;
    margin-right: 20px;
}

.list .body .user .u_left .d2 .saying {
    width: 700px;
    position: relative;
    left: 500px;
}           


/* 名片 */
.user-card {
    position: relative;
    bottom: 330px;
    left: 1300px;
    width: 290px;
    height: 130px;
    background-color: rgb(217, 234, 247);
    margin: 100px auto;
    padding: 5px 6px 7px 7px;
    box-sizing: border-box;
}

.user-card-head {
    font-size: 20px;
    color: #6A737C;
    margin-top: 1px;
    margin-bottom: 4px;
}

.user-card-body-photo > img {
    width: 65px;
    height: 65px;
    cursor: pointer;
}


.user-card-body-photo {
    float: left;
}

.user-card-body-info {
    float: left;
    margin-left: 15px;
}

.user-card-body-info-username {
    font-size: 20px;
    color: #0074CC;
    height: 16px;
    line-height: 16px;
    position: relative;
    top: 10px;
}

.user-card-body-info-reputation {
    font-size: 17px;
    color: #838C95;
    height: 16px;
    /* line-height: 16px; */
    position: relative;
    top: 20px;
}

.user-card-body-info-reputation-item {
    width: 10px;
    height: 10px;
    /* float: left; */
    display: inline-block;
    border-radius: 50%;
    margin: 0 3px 0 2px;
}